/* ! Reset */
body, html{ font-family: 'Intro', Arial, Helvetica, sans-serif; font-size: 16px;box-sizing: border-box;margin: 0;padding: 0;}*,*:before,*:after{ box-sizing: border-box; }h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0 0 1rem 0;padding: 0;}ol,ul{list-style-type: none;}img{height: auto;}

.logo img{height: auto;}

.logo{
    width: 200px;
}
.nav,.footer{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    color: black;list-style: none;
    margin: 10px 30px;
}
.nav ul{padding: 0;margin: 0;
    display: block;
}
.nav li{
    display: inline-block;
    padding: 0 10px;font-weight: bold;color: #EB423F;
}
.button{
    padding: 1%;
    background-color: #EB423F;
    border-radius: 40px;
    text-decoration: none;font-weight: bold;color: #fff;
}

.hero{padding: 10%;
    text-align: center;
}
.hero__text p{padding-bottom: 2%;}


.hero{background-color: #3B99E8;
}

.grid{display: flex;justify-content: space-evenly;align-items: center;padding: 2% 40px;text-align: center;padding-top: 10%;}
.mag__text h1{font-size: 50px;font-style: italic;}
p{font-size: 18px;}

.mag__img{rotate: 20deg;}

.footer{
    position: absolute;
    left: 40%;
    padding-top: 10%;}

.footer li{
    display: inline-block;
    padding: 15px 10px;
    font-weight: bold;
    color: #EB423F;}

.magazine img{width: 110px;padding-bottom: 20px;}
.magazine{column-gap: 5%;align-items: center;width: 100%;display: flex;justify-content: space-between;text-align: center;padding: 2%;margin-top: 5%;}


.founder1{width: 40%;}
.founder2{width: 40%;}

.founder img{margin-top: 20%;}
.founder h3{font-size: 26px;color:#80b4ff;font-weight: bold;font-style: italic;}
.founder p{text-align:center;}
.founder {
    padding: 0 20px; 
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
    line-height: 1.6;
    justify-content: space-between;column-gap: 0px;margin: 0 50px;
}

.work{
    position: relative;left: 33%;padding-top: 10%;
}

@media (max-width: 768px) {
    .nav{width: 100%;margin: 0;flex-wrap: wrap;flex-direction: column;}
    .nav li{margin-bottom: 10px;}
    .button{margin-bottom: 10px;}
  
}


